/**
 * @file
 * Stylesheet for nodes
 *
 * This file is intended for styles specific to
 * the node module and the content it generates.
 *
 */
article.node div.image {
  overflow: hidden;
  margin: 0 0 20px;
  border: 1px solid #eaeaea;
  background: #ffffff;
}
article.node div.image ul {
  display: block;
  position: relative;
}
section.panel-pane > .pane-content article.node div.image ul {
  border: none;
}
article.node div.image img {
  float: left;
  margin: 0;
  padding: 0;
}
article.node div.image div.thumbs {
  clear: left;
  position: relative;
  z-index: 10;
  overflow: hidden;
  margin: 0;
  padding: 4px;
  background: #eaeaea;
}
article.node div.image div.thumbs div.item {
  float: left;
  margin: 5px;
  padding: 0;
}
article.node div.image div.thumbs div.item a {
  float: left;
  border: 1px solid #cacaca;
}
article.node div.image div.thumbs div.item a:hover,
article.node div.image div.thumbs div.item a:focus,
article.node div.image div.thumbs div.item.active a {
  border: 1px solid #ff7200;
}
article.node div.lead {
  margin: 0 0 20px;
  color: #6a6a6a;
  font: normal 1.285714286em/1.4em NewsGothicBT-Roman, "Arial Narrow", Helvetica Neue, Arial, sans-serif;
}
article.node ul.links {
  margin: 0 0 20px;
  padding: 0;
}
h2.cloned {
  border-radius: 3px;
  color: #fff;
  font: normal 1.285714286em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background: #FF7200;
}
h2.cloned:hover {
  background: #ff9900;
}
h2.cloned.active {
  width: 26px;
  float: right;
  position: relative;
  z-index: 5;
  font-weight: bold;
}
.column.left section.panel-pane > .pane-content article.node-webform,
.pane-node-field-related-webform article.node-webform {
  border: 1px solid #FF7200;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 3px;
  background: #fff;
}
.column.left section.panel-pane > .pane-content article.node-webform h2:before,
.pane-node-field-related-webform article.node-webform h2:before {
  width: 100%;
  height: 49px;
  position: absolute;
  content: "";
  top: -2px;
}
/* @group slideshow */
article.node div.image.slideshow .item-list {
  position: relative;
}
article.node div.image.slideshow.slide-processed .item-list ul li {
  position: absolute;
  top: 0;
  left: 0;
}
/* @end */
/* @group node-blog */
article.node-blog div.meta {
  margin: 0 0 20px;
  padding: 0;
  min-height: 75px;
  font: normal 1em/1em Georgia, "Times New Roman", serif;
  text-transform: none;
  color: #0e0e0e;
  border-bottom: 1px solid #eaeaea;
}
article.node-blog div.meta div.submitted {
  padding: 5px 0 0;
}
article.node-blog div.meta div.submitted p {
  margin: 0;
  padding: 0 0 5px;
}
article.node-blog div.meta div.user-picture {
  position: static;
  float: left;
  margin: 0 15px 0 5px;
}
article.node-blog div.meta div.tags {
  margin: 5px 0 0;
  font-size: 1em;
  line-height: 1em;
  color: #6a6a6a;
}
article.node-blog div.meta div.user-picture img {
  max-width: 80px;
}
article.node-blog div.meta a {
  display: inline;
  float: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
article.node-blog div.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
article.node-blog div.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* @end */
/* @group node-product */
.node-type-product .pane-content h1 {
  font-size: 3.4em;
  margin: 0;
  padding: 0;
}
.node-type-product .field-name-field-deck {
  color: #6a6a6a;
  font: normal 1.285714286em/1.4em NewsGothicBT-Roman, "Arial Narrow", Helvetica Neue, Arial, sans-serif;
}
.node-type-product .lead {
  display: none;
}
.node-type-product section.panel-pane.pane-node-field-related {
  background: #EAEAEA;
}
.node-type-product section.panel-pane.pane-node-field-related > .pane-content .item-list ul {
  border: 0;
  padding: 10px;
}
.node-type-product section.panel-pane.pane-node-field-related > .pane-content .item-list ul li {
  border: 0;
}
.node-type-product section.panel-pane.pane-node-field-related > .pane-content .item-list ul li a {
  color: #333;
}
.node-type-product section.panel-pane.pane-node-field-related > .pane-content .item-list ul li a:hover {
  color: #FF7200;
}
.node-type-product section.panel-pane.pane-node-field-related h2 {
  padding: 10px 10px 0;
  text-transform: uppercase;
  margin: 0;
}
/* @end */
/* @group node-product */
.node-type-product .pane-content h1 {
  font-size: 3.4em;
  margin: 0;
  padding: 0;
}
.node-type-product .node-testimonial {
  background: #EAEAEA;
  margin-bottom: 40px;
  padding: 20px;
}
.node-type-product .node-testimonial h2,
.node-type-product .node-testimonial p {
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.node-type-product .node-testimonial h2 {
  color: #FF7200;
}
.node-type-product .node-testimonial .signed {
  margin-top: 10px;
  float: right;
  font-weight: bold;
}
.node-type-product .quote-wrapped,
#mini-panel-footer .quote-wrapped {
  display: inline;
}
.node-type-product .quote-wrapped:before,
#mini-panel-footer .quote-wrapped:before,
.node-type-product .quote-wrapped:after,
#mini-panel-footer .quote-wrapped:after {
  content: '"';
  font-size: 1.4em;
  font-family: Arial, sans-serif;
}
.node-type-product .quote-wrapped p,
#mini-panel-footer .quote-wrapped p {
  font-style: italic;
  display: inline;
}
.node-type-product .quote-wrapped p:after,
#mini-panel-footer .quote-wrapped p:after {
  content: "";
  width: 100%;
  height: 10px;
  display: block;
}
.node-type-product .quote-wrapped p:last-child:after,
#mini-panel-footer .quote-wrapped p:last-child:after {
  display: inline;
}
.node-type-product section.panel-pane.pane-node-field-related {
  background: #EAEAEA;
}
.node-type-product section.panel-pane.pane-node-field-related > .pane-content .item-list ul {
  border: 0;
  padding: 10px;
}
.node-type-product section.panel-pane.pane-node-field-related > .pane-content .item-list ul li {
  border: 0;
}
.node-type-product section.panel-pane.pane-node-field-related > .pane-content .item-list ul li a {
  color: #333;
}
.node-type-product section.panel-pane.pane-node-field-related > .pane-content .item-list ul li a:hover {
  color: #FF7200;
}
.node-type-product section.panel-pane.pane-node-field-related h2 {
  padding: 10px 10px 0;
  text-transform: uppercase;
  margin: 0;
}
/* @end */
/* @group node-product */
.node-type-product .pane-content h1 {
  font-size: 3.4em;
  margin: 0;
  padding: 0;
}
.node-type-product .node-testimonial {
  background: #EAEAEA;
  margin-bottom: 40px;
  padding: 20px;
}
.node-type-product .node-testimonial h2 a,
.node-type-product .node-testimonial p {
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.node-type-product section.panel-pane.pane-node-field-related {
  background: #EAEAEA;
}
.node-type-product section.panel-pane.pane-node-field-related > .pane-content .item-list ul {
  border: 0;
  padding: 10px;
}
.node-type-product section.panel-pane.pane-node-field-related > .pane-content .item-list ul li {
  border: 0;
}
.node-type-product section.panel-pane.pane-node-field-related > .pane-content .item-list ul li a {
  color: #333;
}
.node-type-product section.panel-pane.pane-node-field-related > .pane-content .item-list ul li a:hover {
  color: #FF7200;
}
.node-type-product section.panel-pane.pane-node-field-related h2 {
  padding: 10px 10px 0;
  text-transform: uppercase;
  margin: 0;
}
/* @end */
