body {
  font-family: "Lucida Grande", sans-serif;
  font-size: 13px;
}
a {
  color: #0074BD;
  text-decoration: none;
}
blockquote {
  margin: 0 0 20px;
  padding: 16px 5.7692308% 15px;
  font-size: .933333333em;
  line-height: 1.5em;
  font-style: italic;
  background: #eaeaea;
}
blockquote a {
  color: #FF7200;
}
blockquote.darkgray {
  background: #2A2A2A;
  color: #fff;
}
blockquote.darkgray strong {
  color: #FF7200;
  font-size: 14px;
}
blockquote.lightgray {
  background: #eaeaea;
}
blockquote.lightgray a {
  font-weight: bold;
}
blockquote.orange {
  background: #FF7200;
  color: #fff;
}
blockquote.orange a {
  color: #000;
}
