/**
 * @file
 * forms.css
 *
 * This stylesheet is intended for form
 * specific styling.
 */

/* @group General */
input.form-text,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 3px 8px;
  width: 100%;
  min-width: 200px;
  height: 25px;
  font: normal 1.071428571em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #d7d7d7;
  -webkit-appearance: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
input.form-text:hover,
textarea:hover {
  background: #fbfbf5;
}
input.form-text:focus,
textarea:focus {
  background: #f9f7ef;
}
footer input.form-text,
div.pane-webform-client-block-127 input.form-text {
  padding: 4px 8px;
  border: none;
}
input.form-submit {
  margin: 0 5px 0 0;
  padding: 3px 28px 3px 8px;
  font: bold 1.071428571em/19px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  background: #ff7200 url('../../images/icons.png') no-repeat 100% -150px;
}
/* Removes extra Firefox input submit padding */
input.form-submit::-moz-focus-inner {
  border: none;
}
input.form-submit:hover,
input.form-submit:focus {
  background-color: #ff9900;
}
div.form-item {
  position: relative;
  margin: 0 0 15px;
}
div.container-inline div.form-item {
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
div.form-item.form-type-checkbox {
  margin: 0;
}
div.text-format-wrapper {
  margin: 0 0 15px;
}
div.form-item > div.description {
  margin: 10px 0;
  font: normal 0.785714286em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
}
label {
  color: #2a2a2a;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* @group Placeholders */
div.form-item.js-input-ph label {
  position: absolute;
  top: 5px;
  left: 9px;
  cursor: text;
  color: #b4b4b4;
  font: normal 1.071428571em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.js-input-ph footer div.form-item label {
  top: 6px;
}
/* @end */
