/**
 * @file
 * nav.css
 *
 * Navigation stylesheet for peytz.dk.
 * Contains styles for main navigation.
 */

div[role="navigation"] nav {
  float: left;
  padding: 40px 3px 0;
  width: 590px;
  font-family: Arial, Helvetica, sans-serif;
}
div[role="navigation"] nav h2 {
  display: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
div[role="navigation"] nav ul li {
  display: inline;
  font-size: 1.2em;
  line-height: 1.2em;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
}
div[role="navigation"] nav ul li a {
  margin: 0 0.071428571em;
  padding: 2px 8px;
}
div[role="navigation"] nav ul li a,
div[role="navigation"] nav ul li a:active,
div[role="navigation"] nav ul li a:hover,
div[role="navigation"] nav ul li a:visited {
  font-weight: bold;
}
div[role="navigation"] nav ul li a.active {
  color: #ffffff;
  background: #ff7200;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
div[role="navigation"] nav ul li a.active:hover,
div[role="navigation"] nav ul li a.active:active {
  color: #ffffff;
}
div[role="navigation"] nav ul li a:hover {
  color: #ff9900;
  text-decoration: none;
}
div[role="navigation"] div.header ul.secondary {
  float: right;
}
div[role="navigation"] div.header ul.secondary li {
  display: inline;
  padding: 0 5px 0 6px;
  border-right: 1px solid #fff;
}
div[role="navigation"] div.header ul.secondary li a {
  color: #aaaaaa;
  padding-top: 1px;
}
div[role="navigation"] div.header ul.secondary li a.is-cookie {
  background: url(../../images/icon-cookie.png) no-repeat right 2px;
  padding-right: 20px;
  padding-bottom: 2px;
}
div[role="navigation"] div.header ul.secondary li.last {
  padding: 0 0 0 .2em;
  border: none;
}
