/**
 * @file
 * Stylesheet for Panels
 *
 * This file is intended for styles specific to
 * the Panels module and generated output.
 *
 */

/* @group General */
section.panel-pane {
  clear: both;
  overflow: hidden;
  font: normal 1em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
section.panel-pane.pane-node-content {
  overflow: visible;
}
section.panel-pane.pane-page-tabs {
  margin: 0;
}
section.panel-pane.pane-page-tabs #tabs ul {
  overflow: hidden;
  margin: 0 0 30px;
}
div.grid-display section.panel-pane.pane-pco-blocks h1,
div.grid-display section.panel-pane.pane-pco-blocks h1 a,
div.grid-display section.panel-pane.pane-pco-blocks h1 a:active,
div.grid-display section.panel-pane.pane-pco-blocks h1 a:hover,
div.grid-display section.panel-pane.pane-pco-blocks h1 a:visited {
  font: bold 1.34em/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.grid-display section.panel-pane.pane-pco-blocks h2,
div.grid-display section.panel-pane.pane-pco-blocks h2 a,
div.grid-display section.panel-pane.pane-pco-blocks h2 a:active,
div.grid-display section.panel-pane.pane-pco-blocks h2 a:hover,
div.grid-display section.panel-pane.pane-pco-blocks h2 a:visited {
  font: bold 1.5em/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section.panel-pane .meta {
  font-size: .714285714em;
  font-weight: bold;
  text-transform: uppercase;
  color: #6a6a6a;
}
.front .block-system header section.panel-pane,
.front .block-system header div.deck,
.front .block-system header div.deck section.column.full {
  overflow: visible;
}
footer section.panel-pane,
header section.panel-pane {
  margin: 0;
}
/* @end */

/* Lists */
section.panel-pane > .pane-content .item-list ul {
  border-top: 1px solid #eaeaea;
}
section.panel-pane > .pane-content .item-list ul li {
  line-height: 1.9em;
  border-bottom: 1px solid #eaeaea;
}
/* @end */

/* @group Sidebar Forms */
.column.left section.panel-pane > .pane-content article.node-webform {
  border: 1px solid #ff7200;
  border-radius: 3px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #ffffff;
}
.column.left section.panel-pane > .pane-content article.node-webform p {
  font: normal 1em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.column.left section.panel-pane > .pane-content article.node-webform h2 a {
  color: #ffffff;
}
section.panel-pane.pane-node-field-sidebar-formular {
  margin: 0;
}
/* @end */

/* @group Blocks */
section.pane-pco-blocks.strict {
  border-top: 1px solid #eaeaea;
}
section.pane-pco-blocks.strict.image {
  border: none;
}
section.pane-pco-blocks.strict.image.border {
  border-top: 1px solid #eaeaea;
}
.deck-5 section.pane-pco-blocks img,
.deck-10 section.pane-pco-blocks img {
  float: left;
}
section.pane-pco-blocks > div.pane-content {
  clear: both;
  padding: 15px 0 0;
}
section.pane-pco-blocks.strict > div.pane-content {
  padding: 15px 0 0;
  color: #2a2a2a;
}
section.pane-pco-blocks > div.pane-content p {
  margin: 0;
  padding: 0;
}
section.pane-pco-blocks h1 {
  margin: 0 0 0 -1px;
  padding: 0;
  font-size: 2em;
}
section.pane-pco-blocks h2 {
  font-size: 1.5em;
  padding: 0;
}
section.pane-pco-blocks div.meta {
  margin: 0 0 0 -3px;
  padding: 0;
}
section.pane-pco-blocks a {
  color: #ff7200;
}
section.pane-pco-blocks a:hover {
  color: #ff9900;
}
section.pane-pco-blocks div.field-name-field-category {
  display: inline;
}
section.pane-pco-blocks.orange div.pane-content,
section.pane-pco-blocks.grey div.pane-content,
section.pane-pco-blocks.dark div.pane-content {
  padding: 15px;
}
section.pane-pco-blocks.orange div.pane-content,
section.pane-pco-blocks.dark div.pane-content {
  color: #ffffff;
}
/* block: orange */
section.pane-pco-blocks.orange {
  background: #ff7200;
  color: #ffffff;
}
section.pane-pco-blocks.orange h1 a,
section.pane-pco-blocks.orange h2 a,
section.pane-pco-blocks.orange .meta,
section.pane-pco-blocks.orange .meta a {
  color: #ffffff;
}
section.pane-pco-blocks.orange h1 a:hover,
section.pane-pco-blocks.orange h2 a:hover,
section.pane-pco-blocks.orange .meta a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* block: light grey */
section.pane-pco-blocks.grey {
  background: #eaeaea;
  color: #2a2a2a;
}

/* block: dark grey */
section.pane-pco-blocks.dark,
section.pane-pco-blocks.dark .meta a {
  background: #2a2a2a;
  color: #ffffff;
}
section.pane-pco-blocks.dark .meta {
  color: #ffffff;
}
section.pane-pco-blocks.dark a:hover,
section.pane-pco-blocks.grey a:hover {
  color: #ff9900;
  text-decoration: underline;
}
section.pane-pco-blocks.orange a:hover {
  color: #ffffff;
}
section.pane-pco-blocks.dark h1 a:hover,
section.pane-pco-blocks.grey h1 a:hover {
  text-decoration: none;
  color: #ff9900;
}
/* @end blocks */

/* @group div.pane-departments-panel-pane-1  */
.pane-departments-panel-pane-1 h2 {
  padding: 0 0 30px;
  font-size: 3.428571429em;
  line-height: 1em;
}
/* @end */

/* @group call-me pane */
.pane-custom.dark,
.pane-custom.orange {
  padding: 10px 0;
  width: 100%;
  color: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.pane-custom.dark {
  background: #2a2a2a;
}
.pane-custom.orange {
  background: #ff7200;
}
.pane-custom.dark p,
.pane-custom.orange p {
  margin: 0;
  padding: 0;
}
a.call-me {
  display: block;
  margin: 0 auto;
  padding: 0 0 0 62px;
  width: 150px;
  color: #ffffff;
  font: bold 2em/2.4em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a.call-me:hover {
  text-decoration: none;
}
.pane-custom.orange a.call-me {
  background: #ff7200 url('../../images/icons_48.png') 0 -92px no-repeat;
}
.pane-custom.dark a.call-me {
  background: #2a2a2a url('../../images/icons_48.png') 0 8px no-repeat;
}
/* @end */

/* @group .pane-pco-caseblock */
.pane-pco-caseblock ul {
  float: left;
  max-width: 300px;
  background: transparent url(../../images/bg_box_fluid_gray_top_800x800.png) no-repeat 0 0;
}
.pane-pco-caseblock ul li {
  float: left;
  width: 50%;
  text-align: center;
  border: none;
  background: transparent url(../../images/bg_box_fluid_gray_200x200.png) no-repeat 100% 100%;
}
/* @end */

/* @group div.tweets-pulled-listing */
div.tweets-pulled-listing {
  background: #eaeaea url("../../images/twitter-logo.png") top right no-repeat;
  padding: 15px;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
div.tweets-pulled-listing > span {
  font-weight: bold;
  font-size: 0.625em;
}
div.tweets-pulled-listing a {
  color: #ff7200;
}
div.tweets-pulled-listing a:hover {
  color: #ff9900;
}
div.tweets-pulled-listing span.tweet-author a {
  font-weight: bold;
  font-size: 0.875em;
}
div.tweets-pulled-listing span.tweet-time a {
  font-size: 0.875em;
  color: #6a6a6a;
}
div.tweets-pulled-listing div.tweet-text {
  color: #2a2a2a;
}
div.tweets-pulled-listing div.tweet-divider {
  border: 0;
  margin: 15px 0;
}
div.tweets-pulled-listing ul {
  margin: 0 0 15px;
}
div.tweets-pulled-listing div.actions {
  text-align: right;
  color: #6a6a6a;
}
/* @end */

/* @group .pane-webform-client-block-127 / newsletter pane */
.pane-webform-client-block-127 {
  color: #ffffff;
  border: 1px;
  border-radius: 3px;
  background: #2a2a2a;
}
.pane-webform-client-block-127 div.prose {
  color: #ffffff;
}
.pane-webform-client-block-127 h2 {
  color: #ffffff;
}
.pane-webform-client-block-127 input.form-text {
  border: none;
}
div[role="main"] .pane-webform-client-block-127 {
  padding: 15px;
}
div#mini-panel-footer .pane-webform-client-block-127 {
  background: none;
}
div#mini-panel-footer .pane-webform-client-block-127 div.field-name-body {
  display: none;
}
/* @end */

/* @group div.pane-block-1 testimonial */
footer div.view-testimonials div.views-field-body {
  margin: 0 0 20px;
  font: italic 1.1em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.view-testimonials span.views-field-field-name {
  display: block;
  width: 100%;
}
/* @end */

/* @group panel-pane.pane-testimonials-panel-pane-2 */
.panel-pane.pane-testimonials-panel-pane-2 {
  overflow: visible;
}
.panel-pane.pane-testimonials-panel-pane-2 .pane-content {
  position: relative;
}
/* @end */

/* @group pane-client-logos-panel-pane-1, pane-client-logos-panel-pane-2 */
.pane-client-logos-panel-pane-1 .pane-title,
.pane-client-logos-panel-pane-2 .pane-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2a2a2a;
  padding: 9px 9px 7px;
  color: white;
}
/* @end */

/* @group Social Media Icons */
.social-media-icons {
  border-top: 1px solid #eaeaea;
  padding-top: 24px;
}
.social-media-icons .pane-title {
  float: left;
  padding: 12px 0 0 0;
}
.social-media-icons .pane-content {
  float: right;
}
/* @end */

/* addthis */
.addthis_toolbox > ul li {
  float: left;
  padding-left: 16px;
}
/* @end */

/* @group view-client-logos */
.view-client-logos .client-logos li {
  float: left;
  clear: left;
  width: 50%;
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 1px;
}
.view-client-logos .client-logos li:nth-child(-n+2) {
  border-top: 1px solid #eaeaea;
}
.view-client-logos .client-logos li:nth-child(2n+2) {
  float: right;
  clear: right;
  border-left: none;
  padding-bottom: 0;
}
.view-client-logos .client-logos li a {
  display: block;
}
/* @end */

/* @group Call to action contact box */
#mini-panel-cta_contact_person,
#mini-panel-cta_contact_person_no {
  background: #2a2a2a;
  padding: 10px;
  color: #ffffff;
}
#mini-panel-cta_contact_person h2,
#mini-panel-cta_contact_person_no h2 {
  color: #ffffff;
}
#mini-panel-cta_contact_person section,
#mini-panel-cta_contact_person_no section {
  clear: none;
  float: left;
  width: 100%;
}
#mini-panel-cta_contact_person section .node-webform label,
#mini-panel-cta_contact_person_no section .node-webform label {
  font-size: 11px;
  font-weight: normal;
  position: absolute;
  left: 9px;
  top: 2px;
}
#mini-panel-cta_contact_person section .cta-title,
#mini-panel-cta_contact_person_no section .cta-title {
  float: left;
  font-size: 22px;
  position: relative;
  text-align: left;
  top: 22px;
  width: 48%;
}
#mini-panel-cta_contact_person section .cta-title h2,
#mini-panel-cta_contact_person_no section .cta-title h2 {
  color: #ff7200;
}
#mini-panel-cta_contact_person section.cta-form,
#mini-panel-cta_contact_person_no section.cta-form {
  float: none;
  width: 85%;
  margin-top: 12px;
  margin-left: 23px;
}
#mini-panel-cta_contact_person section.contact-person,
#mini-panel-cta_contact_person_no section.contact-person {
  font-size: 16px;
  margin: 14px 7% 0 4%;
}
#mini-panel-cta_contact_person section div.view.view-employees div.views-row,
#mini-panel-cta_contact_person_no section div.view.view-employees div.views-row {
  margin-bottom: 0;
}
#mini-panel-cta_contact_person section div.view.view-employees div.views-row > div,
#mini-panel-cta_contact_person_no section div.view.view-employees div.views-row > div {
  border: none;
}
#mini-panel-cta_contact_person section div.views-field-field-job-title .field-content .field-content,
#mini-panel-cta_contact_person_no section div.views-field-field-job-title .field-content .field-content {
  color: #fff;
  font-size: 20px;
  margin-top: 5px;
}
#mini-panel-cta_contact_person section div.views-field-field-job-title .field-content .field-content b,
#mini-panel-cta_contact_person_no section div.views-field-field-job-title .field-content .field-content b {
  margin-right: 5px;
  font-weight: 400;
}
#mini-panel-cta_contact_person section div.view-employees div.views-row .views-field-picture,
#mini-panel-cta_contact_person_no section div.view-employees div.views-row .views-field-picture {
  border: none;
  width: 95%;
}
#mini-panel-cta_contact_person section div.view-employees div.views-row .views-field-picture .user-picture,
#mini-panel-cta_contact_person_no section div.view-employees div.views-row .views-field-picture .user-picture {
  float: left;
}
#mini-panel-cta_contact_person section div.view-employees div.views-row .views-field-field-job-title,
#mini-panel-cta_contact_person_no section div.view-employees div.views-row .views-field-field-job-title,
#mini-panel-cta_contact_person section p,
#mini-panel-cta_contact_person_no section p {
  color: #787878;
}
#mini-panel-cta_contact_person section div.view-employees div.views-row img,
#mini-panel-cta_contact_person_no section div.view-employees div.views-row img {
  border: 2px solid #ff7200;
  border-radius: 50%;
  position: relative;
  background: #fff;
}
#mini-panel-cta_contact_person_no .cta-title {
  top: 10px;
}
#mini-panel-cta_contact_person_no .cta-title h2 {
  line-height: 0.8em;
}
.field-content {
  margin-right: 20px;
}
/* @end */
