/**
 * @file
 * Stylesheet for Panels
 *
 * This file is intended for styles specific to
 * the Panels module and generated output.
 *
 */

/* @group General */
section.panel-pane {
  clear: both;
  overflow: hidden;
  font: normal 1em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
section.panel-pane.pane-node-content {
  overflow: visible;
}
section.panel-pane.pane-page-tabs {
  margin: 0;
}
section.panel-pane.pane-page-tabs #tabs ul {
  overflow: hidden;
  margin: 0 0 30px;
}
div.grid-display section.panel-pane.pane-pco-blocks h1,
div.grid-display section.panel-pane.pane-pco-blocks h1 a,
div.grid-display section.panel-pane.pane-pco-blocks h1 a:active,
div.grid-display section.panel-pane.pane-pco-blocks h1 a:hover,
div.grid-display section.panel-pane.pane-pco-blocks h1 a:visited {
  font: bold 1.34em/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.grid-display section.panel-pane.pane-pco-blocks h2,
div.grid-display section.panel-pane.pane-pco-blocks h2 a,
div.grid-display section.panel-pane.pane-pco-blocks h2 a:active,
div.grid-display section.panel-pane.pane-pco-blocks h2 a:hover,
div.grid-display section.panel-pane.pane-pco-blocks h2 a:visited {
  font: bold 1.5em/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section.panel-pane .meta {
  font-size: .714285714em;
  font-weight: bold;
  text-transform: uppercase;
  color: #6a6a6a;
}
.front .block-system header section.panel-pane,
.front .block-system header div.deck,
.front .block-system header div.deck section.column.full {
  overflow: visible;
}
footer section.panel-pane,
header section.panel-pane {
  margin: 0;
}
/* @end */

/* Lists */
section.panel-pane > .pane-content .item-list ul {
  border-top: 1px solid #eaeaea;
}
section.panel-pane > .pane-content .item-list ul li {
  line-height: 1.9em;
  border-bottom: 1px solid #eaeaea;
}
/* @end */

/* @group Blocks */
section.pane-pco-blocks.strict {
  border-top: 1px solid #eaeaea;
}
section.pane-pco-blocks.strict.image {
  border: none;
}
section.pane-pco-blocks.strict.image.border {
  border-top: 1px solid #eaeaea;
}
.deck-5 section.pane-pco-blocks img,
.deck-10 section.pane-pco-blocks img {
  float: left;
}
section.pane-pco-blocks > div.pane-content {
  clear: both;
  padding: 15px 0 0;
}
section.pane-pco-blocks.strict > div.pane-content {
  padding: 15px 0 0;
  color: #2a2a2a;
}
section.pane-pco-blocks > div.pane-content p {
  margin: 0;
  padding: 0;
}
section.pane-pco-blocks h1 {
  margin: 0 0 0 -1px;
  padding: 0;
  font-size: 2em;
}
section.pane-pco-blocks h2 {
  font-size: 1.5em;
  padding: 0;
}
section.pane-pco-blocks div.meta {
  margin: 0 0 0 -3px;
  padding: 0;
}
section.pane-pco-blocks a {
  color: #ff7200;
}
section.pane-pco-blocks a:hover {
  color: #ff9900;
}
section.pane-pco-blocks div.field-name-field-category {
  display: inline;
}
section.pane-pco-blocks.orange div.pane-content,
section.pane-pco-blocks.grey div.pane-content,
section.pane-pco-blocks.dark div.pane-content {
  padding: 15px;
}
section.pane-pco-blocks.orange div.pane-content,
section.pane-pco-blocks.dark div.pane-content {
  color: #ffffff;
}
/* block: orange */
section.pane-pco-blocks.orange {
  background: #ff7200;
  color: #ffffff;
}
section.pane-pco-blocks.orange h1 a,
section.pane-pco-blocks.orange h2 a,
section.pane-pco-blocks.orange .meta,
section.pane-pco-blocks.orange .meta a {
  color: #ffffff;
}
section.pane-pco-blocks.orange h1 a:hover,
section.pane-pco-blocks.orange h2 a:hover,
section.pane-pco-blocks.orange .meta a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* block: light grey */
section.pane-pco-blocks.grey {
  background: #eaeaea;
  color: #2a2a2a;
}

/* block: dark grey */
section.pane-pco-blocks.dark,
section.pane-pco-blocks.dark .meta a {
  background: #2a2a2a;
  color: #ffffff;
}
section.pane-pco-blocks.dark .meta {
  color: #ffffff;
}
section.pane-pco-blocks.dark a:hover,
section.pane-pco-blocks.grey a:hover {
  color: #ff9900;
  text-decoration: underline;
}
section.pane-pco-blocks.orange a:hover {
  color: #ffffff;
}
section.pane-pco-blocks.dark h1 a:hover,
section.pane-pco-blocks.grey h1 a:hover {
  text-decoration: none;
  color: #ff9900;
}
/* @end blocks */

/* @group div.pane-departments-panel-pane-1  */
.pane-departments-panel-pane-1 h2 {
  padding: 0 0 30px;
  font-size: 3.428571429em;
  line-height: 1em;
}
/* @end */

/* @group .pane-pco-caseblock */
.pane-pco-caseblock ul {
  float: left;
  max-width: 300px;
  background: transparent url(../../images/bg_box_fluid_gray_top_800x800.png) no-repeat 0 0;
}
.pane-pco-caseblock ul li {
  float: left;
  width: 50%;
  text-align: center;
  border: none;
  background: transparent url(../../images/bg_box_fluid_gray_200x200.png) no-repeat 100% 100%;
}
/* @end */

/* addthis */
.addthis_toolbox > ul li {
  float: left;
  padding-left: 16px;
}
/* @end */

.last-event img:hover {
  -webkit-box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.8);
  box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.8);
}
.views-field-field-image .all-img-event {
  margin-right: 15px;
}
/* @end */
