/**
 * @file
 * Stylesheet for Views
 *
 * This file is intended for styles specific to
 * the Views module.
 *
 */

/* @group view-departments */
div.view.view-departments .views-row {
  float: left;
  margin: 0;
  padding: 0 1.5625%;  /* 15 / 960 */
  width: 31.25%;  /* 300 / 960 */
}
div.view.view-departments .views-row.views-row-1 {
  padding: 0 1.5625% 0 0;
}
div.view.view-departments .views-row.views-row-3 {
  padding: 0 0 0 1.5625%;
}
div.view.view-departments .views-row.views-row-4 {
  padding: 0 1.5625% 0 0;
}
div.view.view-departments .views-row.views-row-6 {
  padding: 0 0 0 1.5625%;
}
/* @end */

/* @group view-employees */
.node-type-product .contact-person .view-employees .view-header {
  display: none;
}
.node-type-product .contact-person .view-employees div.views-row {
  width: 100%;
}
.node-type-product .contact-person .view-employees div.views-row > div {
  padding: 137px 0 0;
  height: 100%;
}
.node-type-product .contact-person .view-employees div.views-row .views-field {
  padding-left: 10px;
}
.node-type-product .contact-person .view-employees div.views-row .views-field-picture {
  text-align: right;
  border-bottom: 1px solid #eaeaea;
  height: 49.7%;
  position: absolute;
  top: 0;
  width: 96.7%;
}
.node-type-product .contact-person .view-employees div.views-row img {
  position: relative;
}
/* IPGroup change view styles -- start */
div.view.view-employees-list .department-employees-list {
  clear: both;
  font: 1em/1.5em "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  margin: 0 0 30px;
  overflow: hidden;
}
div.view.view-employees-list h3 {
  font-size: 1.71429em;
  line-height: 1.1em;
  padding: 0 0 20px;
  color: #464646;
}

div.view.view-employees-list div.views-row {
  float: left;
  margin: 0 4.0540541% 20px 0;
  width: 47.972973%;  /* 355 / 740 */
}
.column.seven div.view.view-employees-list div.views-row {
  width: 100%;
}
div.view.view-employees-list div.views-row > div {
  position: relative;
  padding: 8px 2% 0 45.0704225%;  /* 160 / 355 */
  min-height: 128px;
  font-size: .928571429em;
  line-height: 1.5em;
  color: #787878;
  border: 1px solid #eaeaea;
}
div.view.view-employees-list div.views-row.views-row-even {
  margin: 0 0 20px 0;
}
div.view.view-employees-list div.views-row img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 136px;
  max-height: 100%;
}
div.view.view-employees-list div.views-row div.views-field-field-name {
  font-family: NewsGothicBT-Bold, "Arial Narrow", Helvetica Neue, Arial, sans-serif;
  font-size: 1.285714286em;
  line-height: 1.5em;
}
div.view.view-employees-list div.views-row div.views-field-field-position {
  color: #262626;
}
div.view.view-employees-list div.views-row div.views-field-field-name,
div.view.view-employees-list div.views-row div.views-field-field-position,
div.view.view-employees-list div.views-row div.views-field-field-phone {
  position: relative;
  z-index: 100;
}
/* IPGroup change view styles -- end */
/* @end */
/* @group view-slideshow-frontpage */
section.panel-pane div.view-slideshow-frontpage ul,
section.panel-pane div.view-slideshow-frontpage ul li {
  margin: 0;
  padding: 0;
  border: none;
}
section.panel-pane div.view-slideshow-frontpage {
  position: relative;
  width: 100%;
}
section.panel-pane div.view-slideshow-frontpage div.view-content {
  padding: 0 0 31%;
}
section.panel-pane div.view-slideshow-frontpage div.view-content ul li {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #262626;
}
section.panel-pane div.view-slideshow-frontpage div.view-content ul li img {
  display: block;
  position: relative;
  top: -50px;
  max-width: 100%;
}
div.view-slideshow-frontpage div.views-field-field-image-gallery {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
div.block-system .content > header div.view-slideshow-frontpage h1,
div.block-system .content .contextual-links-region > header div.view-slideshow-frontpage h1 {
  position: absolute;
  left: 3.125%;
  bottom: 20%;
  z-index: 10;
  max-width: 90%;
  /* 800 / 960 */
  width: auto;
  word-wrap: break-word;
  font: normal 3.428571429em/1.2em NewsGothicBT-Roman, "Arial Narrow", Helvetica Neue, Arial, sans-serif;
}
div.view-slideshow-frontpage h1 a {
  color: #ffffff;
}
div.view-slideshow-frontpage h1 a:hover {
  text-decoration: none;
}
div.view-slideshow-frontpage h1 strong {
  font-family: NewsGothicBT-Bold, "Arial Narrow", Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
}
div.view-slideshow-frontpage h1 span {
  float: left;
  clear: left;
  display: block;
  padding: 0 10px;
  background: rgba(255, 114, 0, 0.8);
}
div.view-slideshow-frontpage h1 a:hover span {
  background: rgba(255, 130, 0, 0.8);
}
div.view-slideshow-frontpage div.actions {
  position: absolute;
  left: 3.125%;
  bottom: 10%;
}
div.view-slideshow-frontpage div.actions a.button {
  background-color: rgba(255, 114, 0, 0.8);
}
div.view-slideshow-frontpage div.actions a.button:hover {
  background-color: #ff8200;
}
/* @group slide-nav & progress */
div.pane-slideshow-frontpage-panel-pane-1 {
  position: relative;
}
section.panel-pane > .pane-content div.view-slideshow-frontpage .item-list > ul {
  border: none;
}
section.panel-pane ul#slide-nav {
  position: absolute;
  bottom: -20px;
  left: 0;
  display: block;
  z-index: 101;
  width: 100%;
  border: none;
}
section.panel-pane ul#slide-nav li {
  display: block;
  width: 30px;
  height: 20px;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  background: #ff7200;
}
section.panel-pane ul#slide-nav li:hover {
  background: #ff9900;
}
section.panel-pane ul#slide-nav li.next {
  position: absolute;
  top: 0;
  right: 0;
}
section.panel-pane ul#slide-nav li.left {
  position: absolute;
  top: 0;
  left: 0;
}
section.panel-pane ul#slide-nav li a {
  display: block;
  overflow: hidden;
  width: 30px;
  height: 20px;
  text-indent: -9999px;
  background-image: url(../../images/icons.png);
  background-position: -3px -78px;
  background-repeat: no-repeat;
}
section.panel-pane ul#slide-nav li.prev a {
  background-position: -3px -78px;
}
section.panel-pane ul#slide-nav li.next a {
  background-position: -3px -153px;
}
section.panel-pane ul#slide-progress {
  position: absolute;
  bottom: -22px;
  left: 15%;
  z-index: 102;
  height: 20px;
  text-align: center;
  width: 70%;
  border: none;
}
section.panel-pane ul#slide-progress li {
  margin: 0 4px;
  display: inline;
  border: none;
}
section.panel-pane ul#slide-progress li a {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  text-decoration: none;
  background: #cccccc;
}
section.panel-pane ul#slide-progress li.active a {
  background: #ff7200;
}
/* @end */
/* @end */
/* @group view-blog */
div.view ul li > div.content {
  overflow: hidden;
  padding: 15px 0;
  font-size: 1em;
  line-height: 1.5em;
  color: #3c3c3c;
}
div.view ul li > div.content h2 {
  margin: 0 0 5px -1px;
  padding: 0;
  font: normal 1.285714286em/1em NewsGothicBT-Bold, Arial, sans-serif;
}
div.view ul li > div.content p {
  margin: 0;
  padding: 0;
}
div.view ul li > div.content div.meta {
  margin: 0 0 5px -2px;
}
section.panel-pane div.attachment > div.view ul {
  border: none;
}
div.attachment > div.view ul li {
  clear: both;
  overflow: hidden;
  margin: 0 0 20px;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #eaeaea;
}
section.panel-pane div.attachment > div.view div.image {
  width: 47.6190476%;  /* 300 / 630 */
}
section.panel-pane div.attachment > div.view div.image,
section.panel-pane div.attachment > div.view div.image a,
section.panel-pane div.attachment > div.view div.image div,
section.panel-pane div.attachment > div.view div.image img {
  display: block;
  float: left;
}
section.panel-pane div.attachment > div.view div.image a,
section.panel-pane div.attachment > div.view div.image div,
section.panel-pane div.attachment > div.view div.image img {
  width: 100%;
}
section.panel-pane div.attachment > div.view div.image img {
  display: block;
  float: left;
  width: 100%;
}
section.panel-pane div.attachment > div.view div.content {
  padding: 4.7619048% 4.7619048% 0;  /* 30 / 630 */
  font-size: 1em;
}
section.panel-pane div.attachment > div.view ul li.no-image div.content {
  padding: 15px 0;
}
section.panel-pane div.attachment > div.view ul li.views-row-1.no-image div.content {
  color: #0e0e0e;
  background: #ffffff;
}
section.panel-pane div.attachment > div.view ul li.views-row-1.no-image > div.content div.meta {
  color: #6a6a6a;
}
section.panel-pane div.attachment > div.view ul li.views-row-1.no-image > div.content div.meta a {
  color: #ff7200;
}
section.panel-pane div.attachment > div.view ul li.views-row-1.no-image > div.content div.meta a:hover {
  color: #ff9900;
}
section.panel-pane div.attachment > div.view h2 {
  font: 1.5em/1em NewsGothicBT-Bold, Arial, sans-serif;
}
section.panel-pane div.attachment > div.view ul li.views-row-1 {
  background: #2a2a2a;
}
section.panel-pane div.attachment > div.view ul li.views-row-1 > div.content {
  color: #ffffff;
}
section.panel-pane div.attachment > div.view ul li.views-row-1 > div.content div.meta,
section.panel-pane div.attachment > div.view ul li.views-row-1 > div.content div.meta a {
  color: #ffffff;
}
section.panel-pane div.attachment > div.view ul li.views-row-1 > div.content div.meta a:hover {
  text-decoration: underline;
}
/* @end */
/* @group view-testimonials.view-display-id-panel_pane_2 */
div.view-testimonials.view-display-id-panel_pane_2 {
  position: relative;
  padding: 9%;
  font-size: .857142857em;
  line-height: 1.5em;
  color: #6a6a6a;
  text-align: right;
  border: 1px solid #eaeaea;
}
div.view-testimonials.view-display-id-panel_pane_2 div.views-field-body {
  text-align: left;
  margin: 0 0 5px;
  color: #0e0e0e;
  font: italic 1.166666667em/1.5em Georgia, Times, "Times New Roman", serif;
}
div.view-testimonials.view-display-id-panel_pane_2 .view-content:before {
  content: "“";
  position: absolute;
  top: -21px;
  left: 15px;
  padding: 0 10px 0 0;
  color: #eaeaea;
  font: italic 5.142857143em/80px Georgia, Times, "Times New Roman", serif;
  background: #ffffff;
}
div.view-testimonials.view-display-id-panel_pane_2 .view-content:after {
  content: "”";
  position: absolute;
  bottom: -60px;
  right: 15px;
  padding: 0 10px 0 0;
  color: #eaeaea;
  font: italic 5.142857143em/80px Georgia, Times, "Times New Roman", serif;
  background: #ffffff;
}
div.view-testimonials.view-display-id-panel_pane_2 div.field-content {
  position: relative;
  z-index: 200;
}
/* @end */
/* @group view-morgeninspiration */
.view-morgeninspiration {
  font-size: 14px;
  position: relative;
}
.view-morgeninspiration .view-content {
  position: relative;
  overflow: hidden;
}
.view-morgeninspiration .view-header {
  background: #ffffff;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 50;
}
.view-morgeninspiration .view-header .smooth-load {
  background: url('../../images/miniload.gif') no-repeat 50% 21px;
  position: absolute;
  font-size: 12px;
  width: 50px;
  height: 50px;
  margin-top: 170px;
  margin-left: 50%;
}
.view-morgeninspiration .views-row {
  width: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.view-morgeninspiration .views-row .views-field:not(.views-field-field-image-gallery) {
  padding: 0 15px;
  color: #ffffff;
}
.view-morgeninspiration .views-row .views-field:not(.views-field-field-image-gallery).views-field-title a {
  font: 1.5em/1.2em NewsGothicBT-Bold, "Arial Narrow", Helvetica, Arial, sans-serif;
  color: #ffffff;
}
.view-morgeninspiration .views-row.orange {
  background: #ff7200;
  color: #ffffff;
}
.view-morgeninspiration .views-row.orange .views-field-field-dato-for-event {
  color: #2a2a2a;
}
.view-morgeninspiration .views-row.gray {
  background: #2a2a2a;
}
.view-morgeninspiration .views-row.gray .views-field-body {
  padding-bottom: 20px;
}
.view-morgeninspiration .views-row.gray:before {
  content: attr(data-cta-msg);
  background: #ff7200;
  width: 50%;
  position: absolute;
  padding: 5px 10px;
  bottom: 0;
  right: 0;
  color: #ffffff;
}
.view-morgeninspiration .views-row.gray .views-field-field-dato-for-event {
  color: #ff7200;
}
.view-morgeninspiration .views-row.gray .views-field-title a {
  font: 1.5em/1.2em NewsGothicBT-Bold, "Arial Narrow", Helvetica, Arial, sans-serif;
  color: #ff7200;
}
/* @group view-employees-product-page */
#mini-panel-cp_productpage_graybox .node-type-product .contact-person .view-employees .view-header {
  display: block;
}
#mini-panel-cp_productpage_graybox .node-type-product .contact-person .view-employees div.views-row {
  width: auto;
}
#mini-panel-cp_productpage_graybox .node-type-product .contact-person .view-employees div.views-row > div {
  padding: 0;
  height: auto;
  min-height: 1.5em;
}
#mini-panel-cp_productpage_graybox .node-type-product .contact-person .view-employees div.views-row .views-field {
  padding-left: 10px;
}
#mini-panel-cp_productpage_graybox .node-type-product .contact-person .view-employees div.views-row .views-field-picture {
  text-align: right;
  border-bottom: 1px solid #eaeaea;
  height: auto;
  width: auto;
  position: absolute;
  top: 0;
}
#mini-panel-cp_productpage_graybox .node-type-product .contact-person .view-employees div.views-row img {
  position: relative;
}
#mini-panel-cp_productpage_graybox div.view.view-employees div.views-row {
  min-height: 1.5em;
  margin: 0;
  width: auto;
}
#mini-panel-cp_productpage_graybox .column.seven div.view.view-employees div.views-row {
  width: 100%;
}
#mini-panel-cp_productpage_graybox div.view.view-employees div.views-row > div {
  position: relative;
  padding: 0;
  min-height: 1.5em;
  color: #787878;
  border: 1px solid #eaeaea;
}
#mini-panel-cp_productpage_graybox div.view.view-employees div.views-row.views-row-even {
  margin: 0;
}
#mini-panel-cp_productpage_graybox div.view.view-employees div.views-row img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: none;
  max-height: none;
}
#mini-panel-cp_productpage_graybox div.view.view-employees div.views-row div.views-field-field-name {
  font-size: 1.285714286em;
  line-height: 1em;
}
#mini-panel-cp_productpage_graybox div.view.view-employees div.views-row div.views-field-field-name,
#mini-panel-cp_productpage_graybox div.view.view-employees div.views-row div.views-field-field-job-title {
  padding-right: 10px;
  float: left;
}
/* @end */
