/**
 * @file
 * Stylesheet for Views
 *
 * This file is intended for styles specific to
 * the Views module.
 *
 */

/* IPGroup change view styles -- start */
div.view.view-employees-list .department-employees-list {
  clear: both;
  font: 1em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 30px;
  overflow: hidden;
}
div.view.view-employees-list h3 {
  font-size: 1.71429em;
  line-height: 1.1em;
  padding: 0 0 20px;
  color: #464646;
}

div.view.view-employees-list div.views-row {
  float: left;
  margin: 0 4.0540541% 20px 0;
  width: 47.972973%;  /* 355 / 740 */
}
.column.seven div.view.view-employees-list div.views-row {
  width: 100%;
}
div.view.view-employees-list div.views-row > div {
  position: relative;
  padding: 8px 2% 0 45.0704225%;  /* 160 / 355 */
  min-height: 128px;
  font-size: .928571429em;
  line-height: 1.5em;
  color: #787878;
  border: 1px solid #eaeaea;
}
div.view.view-employees-list div.views-row.views-row-even {
  margin: 0 0 20px 0;
}
div.view.view-employees-list div.views-row img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 136px;
  max-height: 100%;
}
div.view.view-employees-list div.views-row div.views-field-field-name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.285714286em;
  font-weight: bold;
  line-height: 1.5em;
}
div.view.view-employees-list div.views-row div.views-field-field-position {
  color: #262626;
}
div.view.view-employees-list div.views-row div.views-field-field-name,
div.view.view-employees-list div.views-row div.views-field-field-position,
div.view.view-employees-list div.views-row div.views-field-field-phone {
  position: relative;
  z-index: 100;
}
/* IPGroup change view styles -- end */
/* @end */
/* @group view-slideshow-frontpage */
section.panel-pane div.view-slideshow-frontpage ul,
section.panel-pane div.view-slideshow-frontpage ul li {
  margin: 0;
  padding: 0;
  border: none;
}
section.panel-pane div.view-slideshow-frontpage {
  position: relative;
  width: 100%;
}
section.panel-pane div.view-slideshow-frontpage div.view-content {
  padding: 0 0 31%;
}
section.panel-pane div.view-slideshow-frontpage div.view-content ul li {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #262626;
}
section.panel-pane div.view-slideshow-frontpage div.view-content ul li img {
  display: block;
  position: relative;
  top: -50px;
  max-width: 100%;
}
div.view-slideshow-frontpage div.views-field-field-image-gallery {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
div.block-system .content > header div.view-slideshow-frontpage h1,
div.block-system .content .contextual-links-region > header div.view-slideshow-frontpage h1 {
  position: absolute;
  left: 3.125%;
  bottom: 20%;
  z-index: 10;
  max-width: 90%;
  width: auto;
  word-wrap: break-word;
  font: normal 3.428571429em/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.view-slideshow-frontpage h1 a {
  color: #ffffff;
}
div.view-slideshow-frontpage h1 a:hover {
  text-decoration: none;
}
div.view-slideshow-frontpage h1 strong {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
div.view-slideshow-frontpage h1 span {
  float: left;
  clear: left;
  display: block;
  padding: 0 10px;
  background: rgba(255, 114, 0, 0.8);
}
div.view-slideshow-frontpage h1 a:hover span {
  background: rgba(255, 130, 0, 0.8);
}
div.view-slideshow-frontpage div.actions {
  position: absolute;
  left: 3.125%;
  bottom: 10%;
}
div.view-slideshow-frontpage div.actions a.button {
  background-color: rgba(255, 114, 0, 0.8);
}
div.view-slideshow-frontpage div.actions a.button:hover {
  background-color: #ff8200;
}
/* @group slide-nav & progress */
div.pane-slideshow-frontpage-panel-pane-1 {
  position: relative;
}
section.panel-pane > .pane-content div.view-slideshow-frontpage .item-list > ul {
  border: none;
}
section.panel-pane ul#slide-nav {
  position: absolute;
  bottom: -20px;
  left: 0;
  display: block;
  z-index: 101;
  width: 100%;
  border: none;
}
section.panel-pane ul#slide-nav li {
  display: block;
  width: 30px;
  height: 20px;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  background: #ff7200;
}
section.panel-pane ul#slide-nav li:hover {
  background: #ff9900;
}
.views-slideshow-cycle-main-frame-row-item .field-content {
  margin-right: 0;
}
.views-slideshow-controls-text-next-processed.a {
  position: absolute;
  right: 0;
  top: 0;
}
.views-slideshow-controls-text-previous-processed a {
  position: absolute;
  left: 0;
  top: 1px;
}
.views-slideshow-controls-text-status-pause a {
  display: none;
}
.views-slideshow-controls-bottom {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.views-slideshow-controls-text-next-processed {
  position: absolute;
  right: 0;
  display: block;
  overflow: hidden;
  width: 30px;
  height: 20px;
  text-indent: -9999px;
  background-image: url(../../images/icons.png);
  background-position: -3px -153px;
  background-repeat: no-repeat;
  background-color: rgb(255, 114, 0);
  border-radius: 2px;
}
.views-slideshow-controls-text-previous-processed {
  position: absolute;
  left: 0;
  display: block;
  overflow: hidden;
  width: 30px;
  height: 20px;
  text-indent: -9999px;
  background-image: url(../../images/icons.png);
  background-position: -3px -78px;
  background-repeat: no-repeat;
  background-color: rgb(255, 114, 0);
  border-radius: 2px;
}
.views-slideshow-controls-text-previous-processed a {
  background-position: -3px -78px;
}
.views-slideshow-controls-text-next-processed .next a {
  background-position: -3px -153px;
}
.views_slideshow_pager_field.views-slideshow-pager-field-processed {
  display: block;
  position: absolute;
  bottom: -22px;
  z-index: 102;
  height: 20px;
  text-align: center !important;
  width: auto;
  border: none;
  left: 50%;
  margin: 0;
  margin-right: -50%;
  transform: translate(-50%);
  clear: both;
}
.views-slideshow-pager-field-item {
  margin: 0 4px;
  display: inline-block;
  border: none;
  float: left !important;
}
.views-slideshow-pager-field-processed .views-field-counter {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  text-decoration: none;
  background: #cccccc;
}
.views-slideshow-controls-text-pause-processed {
  display: none;
}
.views-slideshow-pager-field-processed .active div {
  background-color: #ff7200;
}
/* @end */
/* @end */

/* Projects page view - IPGroup*/
.page-projects .view-projects td .project-wrapper {
  margin: 3%;
}
.page-projects .view-projects .views-field-title h2 {
  width: 233px;
  font: bold 1.5em/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0;
}
.page-projects .view-projects .views-field-body .field-content {
  margin: 0;
  text-align: justify;
}
.page-projects .item-list ul.pager li.pager-previous,
.page-projects .item-list ul.pager li.pager-current,
.page-projects .item-list ul.pager li.pager-next {
  border-bottom: medium none;
}
#mini-panel-cp_productpage_graybox div.view.view-employees div.views-row div.views-field-field-name,
#mini-panel-cp_productpage_graybox div.view.view-employees div.views-row div.views-field-field-job-title {
  padding-right: 10px;
  float: left;
}
.project-field .project-wrapper:hover {
  -webkit-box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.8);
  box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.8);
}
.project-field .views-field-field-image {
  padding: 0 0 15px 20px;
}
/* @end */
/* End projects page view */


/* Vacancies page view - IPGroup */
.page-vacancies #block-system-main {
  margin-top: 20px;
}
.page-vacancies .center-wrapper .panel-col-first {
  width: 65%;
}
.view-display-id-vacancies_list_pane .view-content {
  border-top: 1px solid #eaeaea;
}
.view-display-id-vacancies_list_pane .views-row {
  border-bottom: 1px solid #eaeaea;
  color: #3c3c3c;
  font-size: 1em;
  line-height: 1.5em;
  overflow: hidden;
  padding: 15px 0;
}

.view-display-id-vacancies_list_pane .views-field-field-image {
  float: left;
  padding: 0;
}
.view-display-id-vacancies_list_pane .views-field-field-image .field-content {
  margin-right: 15px;
}
.view-display-id-vacancies_list_pane .views-field-field-image img {
  display: block;
}
.view-display-id-vacancies_list_pane .views-field-title .field-content {
  margin: 0;
}
.view-display-id-vacancies_list_pane .views-field-title h2 {
  font: bold 1.28571em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  padding: 0;
}
.view-display-id-vacancies_list_pane .views-field-title h2 a {
  font-weight: bold;
}
.view-display-id-vacancies_list_pane .views-field-field-body {
  color: #3c3c3c;
  line-height: 1.5em;
  font-size: 100%;
}
.view-display-id-vacancies_list_pane .views-field-field-body .field-content {
  margin: 0;
}
.view-display-id-vacancies_list_pane .views-field-field-body p {
  padding: 0;
}
.view-display-id-vacancies_list_pane .views-field-created {
  margin-bottom: 5px;
  color: #6a6a6a;
  font-size: 0.714286em;
  font-weight: bold;
  text-transform: uppercase;
}
.view-display-id-vacancies_list_pane .center-wrapper .panel-col-last {
  width: 34%;
}
/* End vacancies page view  */
/* style for views vacancies in front-page */
.front-page-vacancies .views-row {
  background-color: #3c3c3c;
  margin-top: 10px;
  padding: 15px;
}
.front-page-vacancies .views-row .views-field-field-body {
  color: #ffffff;
}
/*end style*/

/* Style for events view. */
.view-new-event {
  height: auto;
}
.view-new-event .view-content {
  background-color: #ffffff;
}
.view-new-event .view-content .views-row-1 {
  background-color: #ff7200!important;
  margin-bottom: 20px;
  color: #ffffff!important;
}
.view-new-event .view-content .views-row-1 .views-field-title a {
  color: #ffffff!important;
  font-weight: 900;
}
.view-new-event .view-content .views-row-1 a {
  color: #ffffff!important;
}
.view-new-event .view-content .views-row-2 {
  background-color: #eaeaea !important;
  margin-bottom: 20px;
  color: #2a2a2a!important;
}
.view-new-event .view-content .views-row-2 .views-field-title a {
  color: #ff7200!important;
  font-weight: 900;
}
.view-new-event .view-content .views-row-2 a {
  color: #ff7200!important;
}
.view-content .views-row-2 .views-field-type {
  color: #6a6a6a;
}
.view-new-event .view-content .views-row-3 {
  background-color: #2a2a2a!important;
  margin-bottom: 20px;
  color: #ffffff!important;
}
.view-new-event .view-content .views-row-3 a {
  color: #ff7200!important;
}
.view-new-event .views-field-type {
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .714285714em;
}
.view-new-event .views-field-title {
  padding-left: 10px;
  font-weight: bold;
  line-height: 30px;
}
.view-new-event .views-field-body {
  padding: 0 10px 10px 10px;
}
.pane-new-event h2.pane-title {
  margin-left: 10px;
  color: #ff7200;
}
.panel-pane .pane-views .pane-all-event .view-all-even {
  height: auto;
}
.view-all-event .views-row-even a {
  color: #ffffff;
}
.page-events .view-all-event .views-field-field-image {
  float: left;
}
.page-events .view-all-event .views-row {
  clear: both;
  overflow: hidden;
}
.page-events .view-all-event .views-row-odd a p {
  color: #464646;
}
.page-events .view-all-event .views-row-even a p {
  color: #ffffff;
}
.pane-new-event .view-new-event .views-row-odd a p {
  color: #ffffff;
}
.views-field-field-date .date-style {
  font-size: x-small;
}
span.date-display-single {
  font-size: x-small;
}

/* Front page one node view -- start. */
.view-front-page-nodes {
  color: #2a2a2a;
}
.view-front-page-nodes.grey .views-row,
.view-front-page-nodes.orange .views-row-even {
  background: #eaeaea none repeat scroll 0 0;
}
.view-front-page-nodes.dark .views-row {
  background: #2a2a2a none repeat scroll 0 0;
  color: #ffffff;
}
.view-front-page-nodes.orange .views-row-odd {
  background: #ff7200 none repeat scroll 0 0;
  color: #ffffff;
}
.view-front-page-nodes.dark .prose {
  color: #ffffff;
}
.view-front-page-nodes.orange .views-row-odd a,
.view-front-page-nodes.orange .views-row-odd .prose {
  color: #ffffff;
}
.view-front-page-nodes .views-row {
  padding-bottom: 15px;
}
.view-front-page-nodes .views-row-even {
  margin-top: 15px;
}
.view-front-page-nodes .views-field {
  margin: 0;
  padding: 0 12px;
}
.view-front-page-nodes .views-field .field-content {
  margin: 0;
  padding: 0;
}
.view-front-page-nodes .views-field-field-image {
  margin: 0;
  padding: 0;
}
.view-front-page-nodes .views-field-field-image img {
  display: block;
}
.view-front-page-nodes .views-field-type,
.view-front-page-nodes .views-field-field-category {
  font-size: 0.714286em;
  line-height: 15px;
  padding-top: 15px;
  padding-bottom: 3px;
}
.view-front-page-nodes .views-field-type .field-content a,
.view-front-page-nodes .views-field-field-category a {
  color: #6a6a6a;
  font-size: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
.view-front-page-nodes.orange .views-row-odd .views-field-type a,
.view-front-page-nodes.dark .views-field-type a,
.view-front-page-nodes.orange .views-field-field-category a,
.view-front-page-nodes.dark .views-field-field-category a {
  color: #ffffff;
}
.view-front-page-nodes.grey .views-field-field-body a,
.view-front-page-nodes.grey .views-field-body a,
.view-front-page-nodes.orange .views-row-even .views-field-field-body a,
.view-front-page-nodes.orange .views-row-even .views-field-body a {
  color: #2a2a2a;
}
.view-front-page-nodes.dark .views-field-field-body a,
.view-front-page-nodes.dark .views-field-body a {
  color: #ffffff;
}
.view-front-page-nodes .views-field-title h1 {
  font-size: 1.34em;
  line-height: 1.34em;
  margin: 0;
  padding: 0;
}
.view-front-page-nodes .views-field-title a {
  font-size: 1.34em;
  font-weight: bold;
}
/* Front page one node view -- end. */
