/**
 * @file
 * Stylesheet for Views
 *
 * This file is intended for styles specific to
 * the Views module.
 *
 */

/* IPGroup change view styles -- start */
div.view.view-employees-list .department-employees-list {
  clear: both;
  font: 1em/1.5em "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  margin: 0 0 30px;
  overflow: hidden;
}
div.view.view-employees-list h3 {
  font-size: 1.71429em;
  line-height: 1.1em;
  padding: 0 0 20px;
  color: #464646;
}

div.view.view-employees-list div.views-row {
  float: left;
  margin: 0 4.0540541% 20px 0;
  width: 47.972973%;  /* 355 / 740 */
}
.column.seven div.view.view-employees-list div.views-row {
  width: 100%;
}
div.view.view-employees-list div.views-row > div {
  position: relative;
  padding: 8px 2% 0 45.0704225%;  /* 160 / 355 */
  min-height: 128px;
  font-size: .928571429em;
  line-height: 1.5em;
  color: #787878;
  border: 1px solid #eaeaea;
}
div.view.view-employees-list div.views-row.views-row-even {
  margin: 0 0 20px 0;
}
div.view.view-employees-list div.views-row img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 136px;
  max-height: 100%;
}
div.view.view-employees-list div.views-row div.views-field-field-name {
  font-family: NewsGothicBT-Bold, "Arial Narrow", Helvetica Neue, Arial, sans-serif;
  font-size: 1.285714286em;
  line-height: 1.5em;
}
div.view.view-employees-list div.views-row div.views-field-field-position {
  color: #262626;
}
div.view.view-employees-list div.views-row div.views-field-field-name,
div.view.view-employees-list div.views-row div.views-field-field-position,
div.view.view-employees-list div.views-row div.views-field-field-phone {
  position: relative;
  z-index: 100;
}
/* IPGroup change view styles -- end */
/* @end */
/* @group view-slideshow-frontpage */
section.panel-pane div.view-slideshow-frontpage ul,
section.panel-pane div.view-slideshow-frontpage ul li {
  margin: 0;
  padding: 0;
  border: none;
}
section.panel-pane div.view-slideshow-frontpage {
  position: relative;
  width: 100%;
}
section.panel-pane div.view-slideshow-frontpage div.view-content {
  padding: 0 0 31%;
}
section.panel-pane div.view-slideshow-frontpage div.view-content ul li {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #262626;
}
section.panel-pane div.view-slideshow-frontpage div.view-content ul li img {
  display: block;
  position: relative;
  top: -50px;
  max-width: 100%;
}
div.view-slideshow-frontpage div.views-field-field-image-gallery {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
div.block-system .content > header div.view-slideshow-frontpage h1,
div.block-system .content .contextual-links-region > header div.view-slideshow-frontpage h1 {
  position: absolute;
  left: 3.125%;
  bottom: 20%;
  z-index: 10;
  max-width: 90%;
  width: auto;
  word-wrap: break-word;
  font: normal 3.428571429em/1.2em NewsGothicBT-Roman, "Arial Narrow", Helvetica Neue, Arial, sans-serif;
}
div.view-slideshow-frontpage h1 a {
  color: #ffffff;
}
div.view-slideshow-frontpage h1 a:hover {
  text-decoration: none;
}
div.view-slideshow-frontpage h1 strong {
  font-family: NewsGothicBT-Bold, "Arial Narrow", Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
}
div.view-slideshow-frontpage h1 span {
  float: left;
  clear: left;
  display: block;
  padding: 0 10px;
  background: rgba(255, 114, 0, 0.8);
}
div.view-slideshow-frontpage h1 a:hover span {
  background: rgba(255, 130, 0, 0.8);
}
div.view-slideshow-frontpage div.actions {
  position: absolute;
  left: 3.125%;
  bottom: 10%;
}
div.view-slideshow-frontpage div.actions a.button {
  background-color: rgba(255, 114, 0, 0.8);
}
div.view-slideshow-frontpage div.actions a.button:hover {
  background-color: #ff8200;
}
/* @group slide-nav & progress */
div.pane-slideshow-frontpage-panel-pane-1 {
  position: relative;
}
section.panel-pane > .pane-content div.view-slideshow-frontpage .item-list > ul {
  border: none;
}
section.panel-pane ul#slide-nav {
  position: absolute;
  bottom: -20px;
  left: 0;
  display: block;
  z-index: 101;
  width: 100%;
  border: none;
}
section.panel-pane ul#slide-nav li {
  display: block;
  width: 30px;
  height: 20px;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  background: #ff7200;
}
section.panel-pane ul#slide-nav li:hover {
  background: #ff9900;
}
.views-slideshow-cycle-main-frame-row-item .field-content {
  margin-right: 0;
}
.views-slideshow-controls-text-next-processed.a {
  position: absolute;
  right: 0;
  top: 0;
}
.views-slideshow-controls-text-previous-processed a {
  position: absolute;
  left: 0;
  top: 1;
}
.views-slideshow-controls-text-status-pause a {
  display: none;
}
.views-slideshow-controls-bottom {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.views-slideshow-controls-text-next-processed {
  position: absolute;
  right: 0;
  display: block;
  overflow: hidden;
  width: 30px;
  height: 20px;
  text-indent: -9999px;
  background-image: url(../../images/icons.png);
  background-position: -3px -153px;
  background-repeat: no-repeat;
  background-color: rgb(255, 114, 0);
  border-radius: 2px;
}
.views-slideshow-controls-text-previous-processed {
  position: absolute;
  left: 0;
  display: block;
  overflow: hidden;
  width: 30px;
  height: 20px;
  text-indent: -9999px;
  background-image: url(../../images/icons.png);
  background-position: -3px -78px;
  background-repeat: no-repeat;
  background-color: rgb(255, 114, 0);
  border-radius: 2px;
}
.views-slideshow-controls-text-previous-processed a {
  background-position: -3px -78px;
}
.views-slideshow-controls-text-next-processed .next a {
  background-position: -3px -153px;
}
.views_slideshow_pager_field.views-slideshow-pager-field-processed {
  display: block;
  position: absolute;
  bottom: -22px;
  z-index: 102;
  height: 20px;
  text-align: center !important;
  width: auto;
  border: none;
  left: 50%;
  margin: 0;
  margin-right: -50%;
  transform: translate(-50%);
  clear: both;
}
.views-slideshow-pager-field-item {
  margin: 0 4px;
  display: inline-block;
  border: none;
  float: left !important;
}
.views-slideshow-pager-field-processed .views-field-counter {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  text-decoration: none;
  background: #cccccc;
}
.views-slideshow-controls-text-pause-processed {
  display: none;
}
.views-slideshow-pager-field-processed .active div {
  background-color: #ff7200;
}
/* @end */
/* @end */

/* Projects page view - IPGroup*/
.page-projects .view-projects td .project-wrapper {
  border-top: 1px solid #eaeaea;
  margin: 3%;
}
.page-projects .view-projects .views-field-title h2 {
  font: 1.5em/1.2em NewsGothicBT-Bold,"Arial Narrow",Helvetica,Arial,sans-serif;
  margin: 0;
}
.page-projects .view-projects .views-field-body .field-content {
  margin: 0;
  text-align: justify;
}
.page-projects .item-list ul.pager li.pager-previous,
.page-projects .item-list ul.pager li.pager-current,
.page-projects .item-list ul.pager li.pager-next {
  border-bottom: medium none;
}
#mini-panel-cp_productpage_graybox div.view.view-employees div.views-row div.views-field-field-name,
#mini-panel-cp_productpage_graybox div.view.view-employees div.views-row div.views-field-field-job-title {
  padding-right: 10px;
  float: left;
}
.views-exposed-widget.views-submit-button{
  display: none;
}
.form-item {
display: inline-flex;
padding: 10px 10px 0 10px;
font: normal 1.1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.views-exposed-form{
  text-align: center;
}
.views-exposed-widget label{
  color: rgb(255, 114, 0) ;
  font: normal 1.5em/1.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.owl-controls .owl-buttons .owl-prev{
  position: absolute;
  width: 30px;
  height: 20px;
  top: 50%;
  right: calc(100% + 10px);
  /*right:100%;*/
  z-index: 999;
  text-indent: -9999px;
  background: rgb(255, 114, 0) url(../../images/icons.png) no-repeat -3px -78px;
  border-radius: 20px;
  cursor: pointer;
  bottom: 50%;
}
.owl-controls .owl-buttons .owl-next{
  position: absolute;
  width: 30px;
  top:50%;
  left: calc(100% + 5px);
  /*left: 100% ;*/
  height: 20px;
  text-indent: -9999px;
  z-index: 999;
  background: rgb(255, 114, 0) url(../../images/icons.png) no-repeat -3px -153px;
  border-radius: 20px;
  cursor: pointer;
  bottom: 50%;
}
.view.view-owl-employee-carousel  {
  width: 885px;
  padding-left: 40px;
  /*margin: 0 auto;*/
}
.owl-carousel .owl-wrapper .owl-item img {
  max-width: none;
}
.owl-carousel .owl-wrapper .owl-item .field-content {
  margin: 0;
}
.owl-carousel .owl-wrapper .owl-item:nth-child(odd) {
  z-index:11;
}
.owl-carousel .owl-wrapper .owl-item:nth-child(even) {
  z-index:10;
}
.owl-carousel .owl-wrapper .owl-item:nth-child(3n+1) {
  z-index:9;
}
.owl-carousel .owl-wrapper .owl-item:hover {
  z-index: 20;
}
.owl-carousel .owl-wrapper .owl-item .employe-descr {
  display: table;
  margin: 0 auto;
  visibility: hidden;
  position: absolute;
  bottom: 20%;
  width: 220px;
  z-index: 25;
  background-color: #fff;
  opacity: 0;
  border: 1px solid #ededed;
  text-align: center;
  padding: 15px;
}
.owl-carousel .owl-wrapper-outer {
  height: 476px !important;
}
.owl-wrapper .owl-item {
  position: absolute;
  cursor: pointer;
}
.owl-carousel .owl-wrapper .owl-item .views-field-field-name .field-content {
  height: 100%;
}
.owl-carousel .owl-wrapper .owl-item.employe-descr h2 {
  padding: 0;
}
.owl-carousel .owl-wrapper .owl-item:hover .employe-descr {
  visibility: visible;
  opacity: 0.9;
  transition: opacity 0.5s ease,visibility 0.5s ease;
}
/* @end */
/* End projects page view */

