/* @group Global */
body {
  color: #0e0e0e;
  font: normal 14px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
header {
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
header div.top {
  margin: 0 auto 20px;
  overflow: hidden;
  position: relative;
}
#main-content {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
img,
embed,
object {
  max-width: 100%;
}
@media  (max-width: 959px) {
  header,
  #main-content,
  #block-panels-mini-footer {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
  }
}
/* @end */

/* @group Links */
a,
a:visited {
  text-decoration: none;
  color: #ff7200;
  outline: none;
}
a:hover {
  color: #ff9900;
}
a:active {
  color: #ff7200;
}
/** end links */

/* @group Lists */
ul,
ol {
  list-style: outside none none;
  margin: 0;
  outline: 0 none;
  padding: 0;
}
/* @end */

/**Language block subtheming IPG*/
@media  (max-width: 700px) {
  .language-switcher-locale-url {
    top: 15px;
    right: 15px;
    position: absolute;
    z-index: 999999;
  }
}
.language-switcher-locale-url {
  list-style: none;
  text-align: right;
}
.language-switcher-locale-url li {
  display: inline;
}
.language-switcher-locale-url li.active a {
  text-decoration: underline !important;
  color: #ff7200;
  font-weight: bold;
}
/** End language block */

/* @group Logo */
header .logo {
  float: left;
  width: 180px;
  height: 75px;
  margin-top: 3px;
  line-height: 0;
}
header .logo a {
  display: block;
}
header .logo img {
  vertical-align: bottom;
  height: 70px;
}
/* @end */

/* @group Navigation */
header .navhead {
  float: left;
}
header .navhead nav {
  padding: 40px 3px 0;
}
header .navhead nav ul li {
  display: inline;
  font-size: 1.2em;
  line-height: 1.2em;
  -moz-user-select: none;
  -webkit-user-select: none;
}
header .navhead nav ul li a {
  font-weight: bold;
  margin: 0 0.071428571em;
  padding: 2px 8px;
}
header .navhead nav ul li a.active {
  color: #ffffff;
  background: #ff7200;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
/* @end */

/** footer start*/
footer {
  background-color: #000000;
  color: #ffffff;
}
#block-panels-mini-footer {
  padding: 40px 0 30px;
}
#block-panels-mini-footer {
  width: 960px;
  margin: auto;
}
@media  (max-width: 960px) {
  #block-panels-mini-footer {
    width: auto;
  }
}
@media  (max-width: 700px) {
  #logo_footer,
  footer .column.six.left {
    display: none;
  }
}
@media  (min-width:701px) {
  #facebook_like {
    display: none;
  }
}
#facebook_like p {
  margin: 0;
}
@media (max-width: 400px) {
  #mini-panel-footer div.column.right.six {
    width: 30%;
  }
  #mini-panel-footer div.column.middle.six {
    width: 55%;
  }
}
@media (max-width: 700px) {
  #facebook_like {
    display: block;
    width: auto;
    height: auto;
    margin-left:  20px;
  }
  div.fb-page {
    display: none;
  }
  footer .column .middle ,
  .pane-block-2 {
    margin-left: 20px;
  }
}
/**end footer */
/* @group Section head */
.section-head {
  background: #ff7200;
  margin-bottom: 60px;
}
.section-head section {
  margin: 0 auto;
  max-width: 960px;
  width: 96.9697%;
}
.section-head section  h1 {
  color: #ffffff;
  font-size: 3.8em;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
  padding: 20px 0;
  width: 48.4375%;
}
/* @end */

/* Front page one node view -- start. */
.view-front-page-nodes,
.view-front-page-nodes.grey .views-field-field-body a,
.view-front-page-nodes.grey .views-field-body a,
.view-front-page-nodes.orange .views-row-even .views-field-field-body a,
.view-front-page-nodes.orange .views-row-even .views-field-body a {
  color: #2a2a2a;
}
.view-front-page-nodes .views-row {
  max-width: 300px;
}
.view-front-page-nodes.grey .views-row,
.view-front-page-nodes.orange .views-row-even {
  background: #eaeaea none repeat scroll 0 0;
}
.view-front-page-nodes.dark .views-row {
  background: #2a2a2a none repeat scroll 0 0;
  color: #ffffff;
}
.view-front-page-nodes.orange .views-row-odd {
  background: #ff7200 none repeat scroll 0 0;
  color: #ffffff;
}
.view-front-page-nodes .views-row .views-field-body .field-content a,
.view-front-page-nodes .views-row .views-field-field-body .field-content a,
.view-front-page-nodes.view-display-id-project_pane .views-row .views-field-title .field-content a {
  display: block;
  padding-bottom: 15px;
}
.view-front-page-nodes .views-row-even {
  margin-top: 15px;
}
.view-front-page-nodes .views-field,
.view-front-page-nodes .views-field .field-content {
  margin: 0;
  padding: 0;
}

.view-front-page-nodes .views-field .field-content a {
  display: block;
  padding: 0 12px 8px;
}

.view-front-page-nodes .views-field-field-image,
.view-front-page-nodes .views-field-field-image .field-content a {
  margin: 0;
  padding: 0;
}
.view-front-page-nodes .views-field-field-image img {
  display: block;
  height: auto;
}
.view-front-page-nodes .views-field-type,
.view-front-page-nodes .views-field-field-category {
  font-size: 0.714286em;
  line-height: 15px;
}
.view-front-page-nodes .views-field-type .field-content a,
.view-front-page-nodes .views-field-field-category a {
  color: #6a6a6a;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.view-front-page-nodes.dark .prose,
.view-front-page-nodes.orange .views-row-odd a,
.view-front-page-nodes.orange .views-row-odd .prose,
.view-front-page-nodes.orange .views-row-odd .views-field-type a,
.view-front-page-nodes.dark .views-field-type a,
.view-front-page-nodes.orange .views-field-field-category a,
.view-front-page-nodes.dark .views-field-field-category a,
.view-front-page-nodes.dark .views-field-field-body a,
.view-front-page-nodes.dark .views-field-body a {
  color: #ffffff;
}
.view-front-page-nodes .views-field-title a {
  font-size: 1.2em;
  line-height: 1.2em;
}
/* Front page one node view -- end. */

/* @group Panels */
@media  (max-width: 700px) {
  div.deck .column.six {
    width: 47%;
  }
  div.deck-3 .column.twelve {
    width: 100%;
  }
  div.deck-3 .column.six {
    width: 100%;
    padding: 0;
  }
  div.deck .column.right {
    float: left;
  }
}
@media  (max-width: 400px) {
  div.deck .column.six {
    width: 100%;
    padding: 0;
  }
  .panel-2col-stacked .panel-col-first,
  .panel-2col-stacked .panel-col-last {
    width: 100%;
  }
}
section.panel-pane {
  clear: both;
  margin-bottom: 15px;
  overflow: hidden;
}
section.pane-page-title {
  margin: 0;
}
/* @end*/

/*upcoming event*/
.pane-new-event .view-new-event {
  margin: 20px 0 20px 0;
}
.view-new-event {
  background-color: #ff7200;
  max-width: 300px;
}
.view-new-event img {
  display: block;
  height: auto;
}
.view-new-event .views-field-type a {
  color: #ffffff;
  font-size: 0.714285714em;
  font-weight: bold;
  padding-left: 10px;
  text-transform: uppercase;
}
.view-new-event .views-field-title h2 a {
  color: #ffffff;
  display: block;
  padding: 0 10px;
}
.view-new-event .views-field-title h2 {
  margin: 0 0 5px 0;
}
.view-new-event .views-field-body a {
  color: #ffffff;
  display: block;
  padding: 0 10px 10px;
}
.view-new-event .views-field-body p {
  margin: 0;
}
@media  (max-width: 700px) {
  .pane-new-event {
    display: block;
  }
}
/*@end*/

/*vacancies*/
.three-articles-list {
  border-top: none !important;
}
.three-articles-list li {
  border-bottom: none !important;
  float: left;
  margin: 1%;
  max-width: 200px;
  width: 31%;
}
.view-display-id-vacancies_list_pane .view-content {
  border-top: 1px solid #eaeaea;
}
.view-display-id-vacancies_list_pane .views-row {
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
}
.view-display-id-vacancies_list_pane .views-field-field-image {
  float: left;
}
.view-display-id-vacancies_list_pane .views-field-field-image a {
  display: block;
  padding: 15px 15px 15px 0;
}
.view-display-id-vacancies_list_pane .views-field-field-image img {
  display: block;
}
.view-display-id-vacancies_list_pane .views-field-title h2 {
  font-size: 1.28571em;
  margin: 0;
}
.view-display-id-vacancies_list_pane .views-field-title h2 a {
  display: block;
  padding: 15px 15px 5px 0;
}
.view-display-id-vacancies_list_pane .views-field-field-body {
  line-height: 1.5em;
}
.view-display-id-vacancies_list_pane .views-field-field-body a {
  color: #3c3c3c;
  display: block;
  padding: 0 15px 15px 0;
}
.front-page-vacancies .view-display-id-vacancies_list_pane .view-content {
  border-top: none;
}
.front-page-vacancies .view-display-id-vacancies_list_pane .views-row {
  background-color: #3c3c3c;
  margin-top: 10px;
}
@media  (min-width:701px) {
  .front-page-vacancies .view-display-id-vacancies_list_pane .views-row {
    width: 300px;
  }
}
@media  (max-width:700px) {
  .front-page-vacancies .view-display-id-vacancies_list_pane .views-row {
    width: auto;
    max-width: 300px;
  }
  .front-page-vacancies .view-display-id-vacancies_list_pane .views-field-title h2 a {
    padding: 15px;
  }
  .front-page-vacancies .view-display-id-vacancies_list_pane .views-field-field-image,
  .front-page-vacancies .view-display-id-vacancies_list_pane .views-field-field-body {
    display: none;
  }
}
.front-page-vacancies .view-display-id-vacancies_list_pane .views-field-field-image a {
  padding-left: 15px;
}
.front-page-vacancies .view-display-id-vacancies_list_pane .views-field-field-body a {
  color: #ffffff;
}

/*@end*/

/*slideshow*/
#views_slideshow_cycle_teaser_section_front_page_slideshow-block {
  max-height: 300px;
}
#views_slideshow_cycle_teaser_section_front_page_slideshow-block img {
  height: auto;
  max-height: 300px;
  width: 100%;
  max-width: 960px;
}
.views-slideshow-controls-bottom {
  padding-bottom: 20px;
}
#block-views-front-page-slideshow-block .views-field-counter {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  text-decoration: none;
  background: #cccccc;
}
.views-slideshow-pager-field-processed .active div {
  background-color: #ff7200;
}
.views_slideshow_pager_field.views-slideshow-pager-field-processed {
  position: absolute;
  z-index: 102;
  height: 20px;
  text-align: center !important;
  width: auto;
  border: none;
  left: 50%;
  margin: 0;
  margin-right: -50%;
  transform: translate(-50%);
  clear: both;
}
.views-slideshow-pager-field-item {
  margin: 0 4px;
  display: inline-block;
  border: none;
  float: left !important;
}
.views-slideshow-controls-text-pause-processed a {
  display: none;
}
.views-slideshow-controls-text-next-processed {
  float: right;
  overflow: hidden;
  width: 30px;
  height: 20px;
  text-indent: -9999px;
  background-image: url(../images/icons.png);
  background-position: -6px -153px;
  background-repeat: no-repeat;
  background-color: rgb(255, 114, 0);
  border-radius: 2px;
}
.views-slideshow-controls-text-previous-processed {
  position: absolute;
  overflow: hidden;
  width: 30px;
  height: 20px;
  text-indent: -9999px;
  background-image: url(../images/icons.png);
  background-position: -3px -78px;
  background-repeat: no-repeat;
  background-color: rgb(255, 114, 0);
  border-radius: 2px;
}
@media (max-width: 400px) {
  .views-slideshow-controls-text-next-processed,
  .views-slideshow-controls-text-previous-processed {
    display: none;
  }
}
@media (max-width: 400px) {
  #block-views-front-page-slideshow-block .views-field-counter {
    width: 5px;
    height: 5px;
  }
}
/*@end*/

/*Event list*/
.view-all-event .views-row img {
  float: left;
  margin-right: 15px;
  margin: 0 15px 15px 0;
}
.view-all-event .views-row {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  width: auto;
  max-height: 156px;
  height: auto;
}
.page-events .view-all-event .views-row {
  clear: both;
  overflow: hidden;
}
.view-all-event .views-row-odd {
  background-color: #eaeaea;
  color: #464646;
}
.view-all-event .views-row-odd .views-field-body a {
  color: #464646;
}
.view-all-event .views-row-even {
  background-color: #2a2a2a;
  color: #ffffff;
}
.view-all-event .views-row-even .views-field-body a {
  color: #ffffff;
}
.view-all-event .views-row-even .views-field-body a p {
 margin-top: 5px;
}
.view-all-event .views-row-odd .views-field-body a p {
  margin-top: 5px;
}
.view-all-event .views-field-field-date {
  font-size: x-small;
}
.view-all-event .views-field-title h2 {
  margin: 0;
}
@media (max-width: 700px) {
  .page-events,
   div .deck-3 .column.right,
  .pane-new-event {
    width: 100%;
  }
}

/*@end*/
