/* @group Global */
body {
  color: #0e0e0e;
  font: normal 14px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
header {
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
header div.top {
  margin: 0 auto 20px;
  overflow: hidden;
  position: relative;
}
#main-content {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
img,
embed,
object {
  max-width: 100%;
}
/* @end */

/* @group Links */
a,
a:visited {
  text-decoration: none;
  color: #ff7200;
  outline: none;
}
a:hover {
  color: #ff9900;
}
a:active {
  color: #ff7200;
}
/** end links */

/* @group Lists */
ul,
ol {
  list-style: outside none none;
  margin: 0;
  outline: 0 none;
  padding: 0;
}
/* @end */

/**Language block subtheming IPG*/
.language-switcher-locale-url {
  list-style: none;
  text-align: right;
}
.language-switcher-locale-url li {
  display: inline;
  text-decoration: none;
}
.language-switcher-locale-url li.active a {
  text-decoration: underline !important;
  color: #ff7200;
  font-weight: bold;
}
/** End language block */

/* @group Logo */
header .logo {
  float: left;
  width: 180px;
  height: 75px;
  margin-top: 3px;
  line-height: 0;
}
header .logo a {
  display: block;
}
header .logo img {
  vertical-align: bottom;
  height: 70px;
}
/* @end */

/* @group Navigation */
header .navhead {
  float: left;
}
header .navhead nav {
  padding: 40px 3px 0;
}
header .navhead nav ul li {
  display: inline;
  font-size: 1.2em;
  line-height: 1.2em;
  -moz-user-select: none;
  -webkit-user-select: none;
}
header .navhead nav ul li a {
  font-weight: bold;
  margin: 0 0.071428571em;
  padding: 2px 8px;
}
header .navhead nav ul li a.active {
  color: #ffffff;
  background: #ff7200;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
/* @end */

/** footer start*/
footer {
  background-color: #000000;
  color: #ffffff;
}
#block-panels-mini-footer {
  padding: 40px 0 30px;
}
@media  (max-width: 1440px) {
  #block-panels-mini-footer {
    width: 960px;
    margin: auto;
  }
}
@media  (max-width: 800px) {
  #block-panels-mini-footer {
    width: auto;
  }
}
@media  (max-width: 600px) {
  #logo_footer,
  footer .column.six.left {
    display: none;
  }
}
@media  (min-width:600px) and (max-width: 1440px) {
  #facebook_like {
    display: none;
  }
}
@media  (max-width: 599px) {
  footer.column.six.right,
  #facebook_like {
    display: block!important;
  }
}
/**end footer */

/* Front page one node view -- start. */
.view-front-page-nodes,
.view-front-page-nodes.grey .views-field-field-body a,
.view-front-page-nodes.grey .views-field-body a,
.view-front-page-nodes.orange .views-row-even .views-field-field-body a,
.view-front-page-nodes.orange .views-row-even .views-field-body a {
  color: #2a2a2a;
}
.view-front-page-nodes.grey .views-row,
.view-front-page-nodes.orange .views-row-even {
  background: #eaeaea none repeat scroll 0 0;
}
.view-front-page-nodes.dark .views-row {
  background: #2a2a2a none repeat scroll 0 0;
  color: #ffffff;
}
.view-front-page-nodes.orange .views-row-odd {
  background: #ff7200 none repeat scroll 0 0;
  color: #ffffff;
}
.view-front-page-nodes .views-row .views-field-body .field-content a,
.view-front-page-nodes .views-row .views-field-field-body .field-content a,
.view-front-page-nodes.view-display-id-project_pane .views-row .views-field-title .field-content a {
  display: block;
  padding-bottom: 15px;
}
.view-front-page-nodes .views-row-even {
  margin-top: 15px;
}
.view-front-page-nodes .views-field,
.view-front-page-nodes .views-field .field-content {
  margin: 0;
  padding: 0;
}

.view-front-page-nodes .views-field .field-content a {
  display: block;
  padding: 0 12px 8px;
}

.view-front-page-nodes .views-field-field-image,
.view-front-page-nodes .views-field-field-image .field-content a {
  margin: 0;
  padding: 0;
}
.view-front-page-nodes .views-field-field-image img {
  display: block;
  height: auto;
}
.view-front-page-nodes .views-field-type,
.view-front-page-nodes .views-field-field-category {
  font-size: 0.714286em;
  line-height: 15px;
}
.view-front-page-nodes .views-field-type .field-content a,
.view-front-page-nodes .views-field-field-category a {
  color: #6a6a6a;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.view-front-page-nodes.dark .prose,
.view-front-page-nodes.orange .views-row-odd a,
.view-front-page-nodes.orange .views-row-odd .prose,
.view-front-page-nodes.orange .views-row-odd .views-field-type a,
.view-front-page-nodes.dark .views-field-type a,
.view-front-page-nodes.orange .views-field-field-category a,
.view-front-page-nodes.dark .views-field-field-category a,
.view-front-page-nodes.dark .views-field-field-body a,
.view-front-page-nodes.dark .views-field-body a {
  color: #ffffff;
}
.view-front-page-nodes .views-field-title a {
  font-size: 1.2em;
  line-height: 1.2em;
}
/* Front page one node view -- end. */

/* @group Panels */
@media  (max-width: 600px) {
  div.deck .column.six {
    width: 47%;
  }
}
@media  (max-width: 315px) {
  div.deck .column.six {
    width: 100%;
  }
}
section.panel-pane {
  clear: both;
  margin-bottom: 15px;
  overflow: hidden;
}
/* @end*/

/*upcoming event*/
.pane-new-event .view-new-event {
  margin: 20px 0 20px 0;
}
.view-new-event {
  background-color: #ff7200;
}
.view-new-event .views-field-type a {
  color: #ffffff;
  font-size: 0.714285714em;
  font-weight: bold;
  padding-left: 10px;
  text-transform: uppercase;
}
.view-new-event .views-field-title h2 a {
  color: #ffffff;
  display: block;
  padding: 0 10px;
}
.view-new-event .views-field-title h2 {
  margin: 0 0 5px 0;
}
.view-new-event .views-field-body a {
  color: #ffffff;
  display: block;
  padding: 0 10px 10px;
}
.view-new-event .views-field-body p {
  margin: 0;
}
@media  (max-width: 599px) {
  .pane-new-event {
    display: block;
  }
}
/*@end*/
