body {
  font: normal 14px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #ff7200;
  text-decoration: none;
}
blockquote {
  margin: 0 0 20px;
  padding: 16px 5.7692308% 15px;
  font-style: italic;
  background: #eaeaea;
}
blockquote a {
  color: #ff7200;
}
blockquote.darkgray {
  background: #2a2a2a;
  color: #fff;
}
blockquote.darkgray strong {
  color: #ff7200;
}
blockquote.lightgray {
  background: #eaeaea;
}
blockquote.lightgray a {
  font-weight: bold;
}
blockquote.orange {
  background: #ff7200;
  color: #fff;
}
blockquote.orange a {
  color: #000;
}
